
//@import "../../bower_components/normalize.css/normalize.css";

//@import "partials/mixins";

//@import "partials/sprite";
//@import "partials/app";

//@import "partials/header";

$sm: 'all and (max-width: 374px)';
$mobile: 'all and (max-width: 767px)';
$lg: 'all and (min-width: 768px)';
$tablet: 'all and (min-width: 768px) and (max-width: 1023px)';

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9g2m03');
  src:  url('../fonts/icomoon.eot?9g2m03#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?9g2m03') format('truetype'),
  url('../fonts/icomoon.woff?9g2m03') format('woff'),
  url('../fonts/icomoon.svg?9g2m03#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dargent:before {
  content: "\e900";
}
.icon-nature:before {
  content: "\e901";
}
.icon-voix:before {
  content: "\e902";
}
.icon-temps:before {
  content: "\e903";
}
.icon-du-sang:before {
  content: "\e904";
}
.transition {
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  display: inline-block;
  outline: 0;
  text-decoration: none;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}
a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  @media #{$mobile} {
    padding-top: 100px;
  }
  &:not(.home) {
    @media #{$lg} {
      padding-top: 61px;
    }
  }
}

.container {
  margin: 0 auto;
}
/*.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(185, 185, 185, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(185, 185, 185, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(185, 185, 185, 0.75);
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .header {
    height: 58px;
  }
}
.header .header--closed .nav {
  max-height: 50px;
}
@media screen and (min-width: 768px) {
  .header .header--closed .nav {
    max-height: none;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap {
    max-width: 1309px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav__logo {
    position: absolute;
    height: 44px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0%, -50%);
  }
}
@media screen and (max-width: 767px) {
  .header .wrap .nav__logo {
    width: 47px;
    height: 58px;
    padding-top: 10px;
  }
  .header .wrap .nav__logo img {
    width: 100%;
  }
}
.header .wrap .nav {
  height: 100%;
  display: -ms-grid;
  display: grid;
  position: fixed;
  background-color: #db021b;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header .wrap .nav {
    position: static;
    background: transparent;
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    align-items: center;
    grid-column-gap: 8px;
    padding-left: 55px;
  }
}
@media screen and (max-width: 767px) {
  .header .wrap .nav {
    height: 539px;
    width: 320px;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .header .wrap .nav.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li {
    min-height: 70px;
    display: flex;
    align-items: center;
    line-height: 1;
    padding-left: 12px;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}
.header .wrap .nav li:nth-child(1) .nav1 {
  padding: 0;
}
!*@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
  }
}*!
.header .wrap .nav li:nth-child(1) .nav1 > li {
  //position: relative;
  color: #fff;
}
@media (max-width: 991px) and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li {
    color: #043882;
  }
}
@media screen and (max-width: 767px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li > a {
    display: block;
    text-align: center;
    background: #cc0033;
    padding: 19px 0 18px;
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    margin-right: 95px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(1) {
    margin-right: 20px;
  }
}
!*.header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(1):after {
  display: block;
  width: 67px;
  margin: auto;
  content: "";
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(1):after {
    width: auto;
    border: 0;
    margin: auto;
    content: "|";
    font-weight: 900;
    white-space: nowrap;
    position: absolute;
    right: -56px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(1):after {
    right: -17px;
  }
}
@media screen and (max-width: 767px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(1):after {
    margin-top: 32px;
  }
}*!
!*@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(1) ul {
    width: 245px;
    padding-bottom: 13px;
  }
}
@media (max-width: 1005px) and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(1) ul {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(2) ul {
    width: 233px;
    padding-bottom: 13px;
  }
}
@media (max-width: 1005px) and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(2) ul {
    width: 145px;
  }
}*!
@media screen and (max-width: 767px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li:nth-child(2) ul li:last-child {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(102, 102, 102, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(102, 102, 102, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(102, 102, 102, 0.75);
    display: none;
  }
}
.header .wrap .nav li:nth-child(1) .nav1 > li > ul li {
  padding-left: 0;
  min-height: 30px;
}
@media (max-width: 1005px) and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li > ul li {
    min-height: 25px;
  }
}
@media screen and (max-width: 767px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li > ul li {
    text-align: right;
  }
}
.header .wrap .nav li:nth-child(1) .nav1 > li > ul li a {
  font-size: 14px;
  padding: 0 20px;
  line-height: 21px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li > ul li a {
    color: #003399;
  }
}
@media (max-width: 1005px) and (min-width: 768px) {
  .header .wrap .nav li:nth-child(1) .nav1 > li > ul li a {
    font-size: 12px;
    padding: 0 5px;
    line-height: 15px;
  }
}
.header .wrap .nav li:nth-child(1) .nav1 > li:hover > ul {
  display: block;
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li.nav__btn {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}
@media screen and (max-width: 767px) {
  .header .wrap .nav li.nav__btn {
    text-align: center;
  }
}
.header .wrap .nav li.nav__btn a {
  color: #fff;
  background: #db021b;
  text-transform: uppercase;
  padding: 9px 0 8px;
  width: 231px;
  position: relative;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 13.3px;
}
.header .wrap .nav li.nav__btn a span {
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li.nav__btn a:after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: 2;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
  }
}
.header .wrap .nav li.nav__btn a span {
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li.nav__btn a:hover {
    text-decoration: none;
  }
  .header .wrap .nav li.nav__btn a:hover span {
    color: #db021b;
  }
  .header .wrap .nav li.nav__btn a:hover:after {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li.nav__btn a {
    border: 3px solid #db021b;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .header .wrap .nav li.nav__btn a {
    font-size: 12px;
    width: 200px;
  }
}
.header .wrap .nav li.nav__partage {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li.nav__partage {
    color: #043882;
    text-align: right;
    white-space: nowrap;
    -ms-grid-column: 4;
    grid-column: 4;
    padding-left: 67px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .header .wrap .nav li.nav__partage {
    padding-left: 12px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .header .wrap .nav li.nav__partage {
    text-align: center;
  }
}
.header .wrap .nav li.nav__partage .picto a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li.nav__partage .picto a {
    color: #db021b;
    float: left;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
  }
}
.header .wrap .nav li.nav__partage .picto a:first-child {
  font-size: 20px;
  margin-left: 24px;
  padding-top: 3px;
}
@media screen and (max-width: 767px) {
  .header .wrap .nav li.nav__partage .picto a:first-child {
    font-size: 18px;
    margin-left: 12px;
  }
}
.header .wrap .nav li.nav__partage .picto a:nth-child(2) {
  font-size: 20px;
  margin-left: 28px;
  padding-top: 2px;
}
@media screen and (max-width: 767px) {
  .header .wrap .nav li.nav__partage .picto a:nth-child(2) {
    font-size: 18px;
    margin-left: 12px;
  }
}
.header .wrap .nav li.nav__partage .picto a:last-child {
  font-size: 26px;
  margin-left: 28px;
}
@media screen and (max-width: 767px) {
  .header .wrap .nav li.nav__partage .picto a:last-child {
    font-size: 22px;
    margin-left: 12px;
  }
}
@media screen and (min-width: 768px) {
  .header .wrap .nav li.nav__partage .picto a:hover {
    color: #043882;
  }
}
.header .wrap .burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5px;
  right: 10px;
  border-radius: 4px;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header .wrap .burger {
    display: none;
  }
}
.header .wrap .burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.header .wrap .burger span:before,
.header .wrap .burger span:after {
  position: absolute;
  content: "";
}
.header .wrap .burger span:before {
  top: -9px;
}
.header .wrap .burger span:after {
  top: 9px;
}
.header .wrap .burger span,
.header .wrap .burger span::before,
.header .wrap .burger span::after {
  display: block;
  width: 23px;
  height: 3px;
  background-color: #043882;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}
.header .wrap .burger.clicked span {
  background-color: transparent;
}
.header .wrap .burger.clicked span:before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
  background-color: #043882;
}
.header .wrap .burger.clicked span:after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
  background-color: #043882;
}*/
.section {
  background: url(../images/heart.jpg) center left no-repeat;
}
@media (max-width: 1366px) {
  .section {
    background-position: center center;
  }
}
.section .wrap {
  padding: 0 20px 0 20px;
  height: 100%;
}
.section .wrap h1 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #db021b;
  padding-top: 68px;
}
@media screen and (max-width: 767px) {
  .section .wrap h1 {
    font-size: 22px;
    line-height: 30px;
    padding-top: 33px;
  }
}
.section .wrap h1 b {
  padding-left: 5px;
}
//.section .wrap .questions {
//  text-align: left;
//  margin: auto;
//  margin-top: 67px;
//  max-width: 852px;
//  position: relative;
//  z-index: 10;
//  border-top: 5px solid #5d5d5d;
//}
//@media screen and (max-width: 767px) {
//  .section .wrap .questions {
//    margin-top: 8px;
//    border-top-width: 3px;
//  }
//}
//.section .wrap .questions .question {
//  border-bottom: 5px solid #434343;
//  cursor: pointer;
//  display: -ms-grid;
//  display: grid;
//  -ms-grid-columns: 1fr 10px;
//  grid-template-columns: 1fr 10px;
//}
//@media screen and (max-width: 767px) {
//  .section .wrap .questions .question {
//    border-bottom-width: 3px;
//  }
//}
//.section .wrap .questions .question h3 {
//  font-size: 22px;
//  color: #043882;
//  -ms-grid-column: 1;
//  grid-column: 1;
//  -webkit-touch-callout: none;
//  -webkit-user-select: none;
//  -khtml-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  font-weight: 500;
//  padding-bottom: 22px;
//  padding-top: 19px;
//}
//@media screen and (max-width: 767px) {
//  .section .wrap .questions .question h3 {
//    font-size: 18px;
//    line-height: 22px;
//  }
//}
//.section .wrap .questions .question .plusmoins {
//  -ms-grid-column: 2;
//  grid-column: 2;
//  font-size: 22px;
//  color: #5d5d5d;
//  font-weight: 700;
//  -webkit-touch-callout: none;
//  -webkit-user-select: none;
//  -khtml-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  padding-top: 20px;
//}
//@media screen and (max-width: 767px) {
//  .section .wrap .questions .question .plusmoins {
//    font-size: 18px;
//  }
//}
//.section .wrap .questions .question .plusmoins:before {
//  content: "-";
//}
//.section .wrap .questions .question .reponse {
//  -ms-grid-row: 2;
//  width: 100%;
//  overflow: hidden;
//  max-height: 1000px;
//  transition: 0.5s ease all;
//  color: #043882;
//  padding-bottom: 20px;
//}
//.section .wrap .questions .question .reponse > div:last-child {
//  padding-bottom: 20px;
//}
//.section .wrap .questions .question .reponse p {
//  margin: 0;
//  padding: 0;
//}
//@media screen and (max-width: 767px) {
//  .section .wrap .questions .question .reponse {
//    font-size: 14px;
//    line-height: 18px;
//  }
//}
//.section .wrap .questions .question.is-closed h3 {
//  color: grey;
//}
//.section .wrap .questions .question.is-closed .plusmoins:before {
//  content: "+";
//}
//.section .wrap .questions .question.is-closed .reponse {
//  max-height: 0;
//  padding-bottom: 0;
//}
.faq__btn {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .faq__btn {
    padding-top: 45px;
    padding-bottom: 47px;
  }
}
.faq__btn a {
  color: #fff;
  background: #db021b;
  text-transform: uppercase;
  padding: 12px 0 11px;
  width: 324px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  border: 3px solid #db021b;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 767px) {
  .faq__btn a {
    font-size: 14px;
    padding: 9px 0 9px;
    width: 262px;
  }
}
.faq__btn a:after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: 2;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}
.faq__btn a span {
  position: relative;
  z-index: 3;
}
.faq__btn a:hover {
  text-decoration: none;
}
.faq__btn a:hover span {
  color: #db021b;
}
.faq__btn a:hover:after {
  width: 100%;
}
#cookie-bar {
  font-family: arial;
  background: #203a7f;
  font-size: 12px;
  min-height: 48px;
  line-height: 18px;
  color: #eeeeee;
  text-align: center;
  padding: 3px 0;
}
#cookie-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#cookie-bar.fixed.bottom {
  bottom: 0;
  top: auto;
}
#cookie-bar p {
  margin: 0;
  padding: 0;
}
#cookie-bar a {
  color: white;
}
#cookie-bar a.cb {
  margin-top: 0px;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  text-decoration: none;
  padding: 0 8px;
  margin-left: 20px;
}
#cookie-bar .cb-enable {
  background: #00A4DD;
}
#cookie-bar .cb-enable:hover {
  background: #00A4DD;
}
#cookie-bar .cb-disable {
  background: #990000;
}
#cookie-bar .cb-disable:hover {
  background: #bb0000;
}
#cookie-bar .cb-policy {
  background: #dc0031;
}
#cookie-bar .cb-policy:hover {
  background: #e6786e;
}
#cookie-bar .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  align-content: center;
  font-family: "roboto", arial, sans-serif;
  max-width: 1366px;
  margin: auto;
}
.cookie-texte {
  -ms-grid-column: 1;
  padding: 5px 10px 5px 10px;
  text-align: center;
  align-self: center;
  /*ie11*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.cookie-cta {
  -ms-grid-column: 2;
  padding: 5px 15px 5px 10px;
  text-align: center;
  align-self: center;
}
.cookie-cta button {
  border-radius: 3px;
  padding: 5px 10px;
  background-color: white;
  color: #db021b;
  font-family: "roboto", arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
}



@import "partials/content";
@import "partials/header";
@import "partials/selectric";
@import "partials/footer";